.vunst { 
  border-bottom-width: 55px;
  border-right-width: 96px;
  margin-right: 92px;
  border-left-width: 16px;
  padding-bottom: 79px;
  padding-bottom: 42px;
  margin-bottom: 82px;
  line-height: 82px;
}
