.vunst { 
  border-bottom-width: 55px;
  border-right-width: 96px;
  margin-right: 92px;
  border-left-width: 16px;
  padding-bottom: 79px;
  padding-bottom: 42px;
  margin-bottom: 82px;
  line-height: 96px;
  border-top-width: 16px;
  margin-left: 3px;
  border-bottom-width: 63px;
  border-right-width: 43px;
  margin-right: 36px;
  padding-bottom: 99px;
  margin-top: 85px;
  border-bottom-width: 59px;
  margin-top: 99px;
}
