.vunst { 
  border-bottom-width: 55px;
  border-right-width: 96px;
  margin-right: 92px;
  border-left-width: 16px;
  padding-bottom: 79px;
  padding-bottom: 42px;
  margin-bottom: 82px;
  line-height: 96px;
  border-top-width: 16px;
  margin-left: 3px;
  border-bottom-width: 63px;
  border-right-width: 43px;
  margin-right: 36px;
  padding-bottom: 99px;
  margin-top: 85px;
  border-bottom-width: 59px;
  padding-top: 16px;
  border-bottom-width: 23px;
  margin-left: 35px;
  padding-bottom: 9px;
  margin-bottom: 18px;
  border-left-width: 69px;
  padding-top: 61px;
  border-right-width: 44px;
  margin-bottom: 57px;
  padding-left: 42px;
  font-size: 39px;
  margin-bottom: 14px;
  border-bottom-width: 24px;
  margin-left: 99px;
  border-top-width: 71px;
  font-size: 20px;
  margin-left: 65px;
  margin-left: 87px;
  margin-bottom: 57px;
  padding-top: 98px;
  line-height: 60px;
  border-bottom-width: 19px;
  margin-top: 52px;
  margin-left: 4px;
  padding-bottom: 43px;
  padding-left: 43px;
  line-height: 98px;
  border-right-width: 74px;
  padding-right: 96px;
  margin-top: 48px;
  padding-bottom: 0px;
  margin-left: 32px;
  margin-top: 66px;
  margin-left: 90px;
}
